* {
    margin: 0px auto;
    padding: 0 auto;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    overflow: auto;
}
html, body {
    min-height: 100%;
}

body {
    height: 100vh;
}

.main-wrapper {
    height: 75vh;
    /* off-white */
    background-color:#f0ead6;
    width: 100%;
}

a { 
    text-decoration: none;  
}

a:hover {
    text-decoration: underline;
    
}

a:active { 

}

body {
    /* height: 100%; */
    min-height: 100vh;
}

h1 {
    font-size: 30px;
    text-align: left;
    text-transform: uppercase;
}

header {
    background-color: #7F9983;
    height: 20vh;
    width: 100%;
    
}


.nav-container {
    height: 15vh;
}

nav {
    background-color: #BACEC3;
   /* margin-left: 20px; */
    padding: 0;
    width: 100%;
}

nav ul {
    list-style-type: none;
    display: inline-block;
    height: 15vh;
    padding: -30px;
    width: 100%;
}


.ul-resources {
    width:100%;
    text-align: left;
}

.ul-resources li a{
    text-decoration: underline;
}

nav ul li a {
     float:left; 
}

nav {
    margin-bottom: 50px;
}
nav li a, nav {
    color: black;
    font-weight: 700;
}

.nav_li {
    display: inline-block;
   margin-bottom: 20px;
    padding: 10px 10px;
    text-transform: uppercase;
}

header, section, footer {
    margin: 0;
}
.about-me-photo-container img {
    margin-top 100px;
    max-width: 100%;
    height: 350px;
    border: 2px solid grey;
}

.bio-section {
    margin-top: 100px;
    margin-left; 30px;
}

.about-me-photo-container {
    margin-top: 50px;
}
.div-team {
    float: left;
    height: 100%;
    width: 50%;
}


form { 
    margin-left 20px;
.hero-wrapper {
    /* height: 100%; */
    height: 75vh;
}

.hero-image-wrapper {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./images/hero-food.jpg");
    height: 100%;
    background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
 
.hero-text-wrapper {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
    color: white;
    font-size: large;
}
hero-p {
    text-size: 1.5em;
    text-shadow: 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black;
}

.lorem-bio {
    margin-left: 30px;
    width: 100%;
}
 .bio-section h2 { 
    text-align: center;
    margin-bottom: 5px;
 }

.new_client { 
    border: 1px solid black;
}

.new_client a {
    color: black;
    text-shadow: #FC0 1px 0 10px;
    font-weight: bold;
    background-color: yellow;
    padding: 8px 20px;
    text-decoration:none;
    font-weight:bold;
    border-radius:5px;
    cursor:pointer;
    /* margin-top: -50px; */
}

.FAQ_wrapper {
    height: 100%;
    padding: 20px;
    width: 100%;
}

.coming-soon-faq {
    text-align: center;
    margin-top: 33vh;
    font-size: 50px;
    font-weight: bolder;
}

 .resources-wrapper {
    width: 100%;
 }
  .resources-wrapper ul li {
    /* margin-top: 30px; */
    width: 100%;
    white-space: nowrap ;
  }

.ul-resources {
    width: 100%;
    padding-bottom: 50px;
} 
.new_client_form_wrapper {
    display: inline-block; 
    margin-left: 20px;
    width: auto;
}

.new-client-current {
    color: black;
    text-shadow: #FC0 1px 0 10px;
    font-weight: bold;
    background-color: #6CB4EE;
    padding: 8px 20px;
    text-decoration:none;
    font-weight:bold;
    border-radius:5px;
    cursor:pointer;
}

.h3-resources {
    text-decoration: underline;
}

.h3-resources {
    text-align: center;
    margin-top: 30px;
}

footer {
    position: fixed;
    background-color: #BACEC3;
    bottom: 0;
    height: 10vh;
    left: 0;
    text-align: center;
    width: 100%;
}

footer ul {
    list-style-type: none;
    padding-left: 30px;     
    height:100%;
}

footer ul li {
    display: inline-block;
    margin-left: 20px;

    margin-right: 20px;
    text-decoration: none;
    
}

.coming-soon-portal {
    text-align: center;
    font-size: 50px;
    margin-top: 33vh;
    font-weight: bolder;
}

header {
    background-color: #BACEC3;
    height: 15vh;
    /*height: 100px; */
    width: 100%;
}

header a img {
    padding: 0;
}

section {

    height: 200px;
    margin: 10px;
    width: 50%;
}

.p-get-started {
    text-decoration: underline;
    color: orange:
}
section ul li { 
    margin-right: 20px;
    margin-left: 20px;
}

article {
    border: 2px solid black;
}

.faq_question_and_answer {
    border-left: 20px;
}

.current_nav_li { 
    color: brown; 
    font-weight: bolder;       
}

label { 
    cursor: default;
}

.logo_li {
    /*display: inline-block;*/
    float: left;
}


.div-portal {
    height: 100vh;
    background-color: #f0ead6;
}

footer a {
    text-decoration: underline;
}

.getStarted {
    background-color: yellow;
}
